@import "../../node_modules/sass-rem/_rem.scss";

*, *:before, *:after {
  box-sizing: border-box;
}

body {
  font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-size: rem(24px);
  position: relative;
}

.container {
  &--boundless {
    width: 100%;
  }

  &--12 {
    margin: 0 auto;
    max-width: 1280px;
  }
}

@mixin list-reset {
  &, & li {
    list-style: none;
    margin: 0;
    padding: 0;
  }
}

ul {
  @include list-reset;
}

.control_panel--row {
  margin: 24px 0;
}

progress {
  width: 100%;
}

#progress_stats {
  text-align: center;
}

#buttons {
  text-align: center;

  ul {
    li {
      display: inline-block;
    }
  }
}

#log {
  ul {
    li {
      margin: 0;
      padding: 24px 0;
      text-align: center;
    }
  }
}

.log_item {
  &--work {
    background-color: #eeeeee;
  }

  &--break {
    background-color: #cccccc;
  }
}


.tabbed_content {
  &--tabs {
    position: fixed;
    bottom: 0;
    left: calc((100% - 75%) / 2);

    &--tab {
      display: inline-block;
      margin: 0 24px;

      a {
        display: block;
        padding: 12px;
      }
    }
  }

  &--content--pane {
    position: fixed;
    width: 75%;
    height: 75%;
    z-index: 2;
    left: calc((100% - 75%) / 2);
    top: calc((100% - 75%) / 2);
    background-color: #ffffff;
    box-shadow: 0 6px 12px #aaaaaa;
    padding: 24px;
  }
}